 h1 {
     display: flex;
     color: #c69d66;
     justify-content: flex-start;
     font-size: 40px;
     font-weight: bold;
     font-family: 'Times New Roman', Times, serif padding;
 }



 .abc {
     display: flex;
     width: 40%;
     align-items: center;
     justify-content: center;


 }

 .maindiv {
     width: 100%;
     margin-bottom: 20px;
     background: #fff;

 }

 .maindiv img {
     height: 100px;
     width: 100px;
     margin: 10px;
 }

 .maincard {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: auto;
     width: 70%;
 }

 .cardtitle {
     font-size: 18px;
     font-weight: bold;
     padding: 10px;
 }

 .cardpricecategory {
     display: flex;
     justify-content: space-between;

     padding: 10px;
 }

 .cardprice {
     font-size: 16px;
     font-weight: bold;

     padding-right: 10px;
 }

 .cardcategory {
     font-size: 16px;
     color: grey;
 }

 .carddescription {
     padding: 10px;
 }

 .carddescription span {
     color: #c69d66;
     cursor: pointer;
 }

 .cart-item-quantity {
     display: flex;
     align-items: center;
     justify-content: space-between;
     width: 20%;
 }

 .cart-item-quantity button {
     font-size: 18px;
     font-weight: bold;
     padding: 5px 10px;
     background-color: white;
     cursor: pointer;
 }

 .cart-item-quantity span {
     font-size: 16px;
     font-weight: bold;
     padding: 0 10px;
 }

 .maincartitemsblock {
     width: 100%;
     position: relative;
     flex-flow: row;
 }

 .total-price {
     display: flex;
     justify-content: flex-end;
     font-size: 1.2rem;
     font-weight: bold;
     margin-top: 1rem;
 }

 .price-details {
     border-bottom: 1px solid var(--color-grey-grade1);
     font-size: 20px;
     display: block;
     text-transform: uppercase;
     color: #ccc;
     border-radius: 2px 2px 0 0;
     border-bottom: 1px solid #e0e0e0;
 }


 .totalamount {

     font-weight: 500;
     font-size: 30px;
 }

 .btn {
     border: 1px solid transparent !important;
     border-radius: 5px;
     background-color: #ccc !important;
 }


 .btn:hover {
     background-color: #c69d66 !important;
     color: white;

 }


 .cart-items1 {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     max-width: 800px;
     height: auto;
     border: 2px solid transparent;
     padding: 10px;
     background-color: #e4e4e4;
     border-radius: 5px;
 }

 .abc {
     display: flex;
     align-items: flex-start;

 }

 .maindiv {
     width: 100%;
     margin-bottom: 20px;
     background: #fff;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     padding: 10px;
     border-radius: 5px;
     border: 1px solid transparent;
 }



 .maindiv img {

     margin: 10px;
 }

 .maincard {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     margin: auto;
     width: 70%;
 }

 .cardtitle {
     font-size: 18px;
     font-weight: bold;
     padding: 10px;
 }

 .cardpricecategory {
     display: flex;
     justify-content: space-between;
     padding: 10px;
 }

 .cardprice {
     font-size: 16px;
     font-weight: bold;
     padding-right: 10px;
 }

 .cardcategory {
     font-size: 16px;
     color: grey;
 }

 .carddescription {
     padding: 10px;
 }

 .carddescription span {
     color: #c69d66;
     cursor: pointer;
 }

 .cart-item-quantity {
     display: flex;
     flex-direction: row;

 }

 .cart-item-quantity button {
     font-size: 18px;
     font-weight: bold;
     padding: 5px 10px;
     background-color: white;
     cursor: pointer;
 }

 .cart-item-quantity span {
     font-size: 16px;
     font-weight: bold;
     padding: 0 10px;
 }

 .maincartitemsblock {
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
 }

 .total-items {
     display: flex;
     flex-direction: column;

     align-items: flex-start;
     justify-content: flex-start;
     width: 100%;
     height: 40%;

 }

 .price-details {
     font-weight: bold;
     font-size: 20px;

 }

 .totalamount {
     font-size: 30px;
     font-weight: bold;
     padding: 10px 0px;
     margin: 10px 0px;
     text-align: right;
     font-family: sans-serif;
 }

 .removefromcart {
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 12px;
     border-radius: 5px;
     border: 1px solid transparent;
     background-color: #c69d66;
     color: #fff;
     cursor: pointer;
 }

 @media only screen and (max-width: 576px) {
     .main-cart {
         display: flex;
         flex-direction: column;
         align-items: center;
     }

     .totalamount {
         font-size: 10px;
         font-weight: bolder;
     }
 }